JDEDemos/jde-demo-ws/src/main/app/jde-ab.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:jdeatina="http://www.mulesoft.org/schema/mule/jdeatina" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jdeatina http://www.mulesoft.org/schema/mule/jdeatina/current/mule-jdeatina.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="jde-abFlow" processingStrategy="synchronous">
        <dw:transform-message doc:name="Transform Message" metadata:id="0111b602-09f7-49f6-9bc6-3ac39bdb47a6">
            <dw:input-variable mimeType="application/java" variableName="taxId"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	entity: {
		entityTaxId: flowVars.taxId
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <jdeatina:invoke-w-s config-ref="JDE_Atina__Configuration" entityType="oracle.e1.bssv.JP010000.AddressBookManager.getAddressBook" doc:name="JDE Atina"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="102ccfb4-51c4-47b4-9291-d719f016fbd7">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	addressbook-name: payload.addressBookResult[0].entityName
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Response #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
